h1{
    margin-bottom: 50px;
    text-align: center;
    text-decoration: underline;
}
.calculator{
    border-radius: 10px;
    margin-top: 30px;
    /* background: blueviolet; */
    min-height:400px ;
    box-shadow: 0 8px 50px -7px grey;
    margin: auto;
    width: 25%;
}

#screen{
    height: 30px;
    border: none;
    width: 88.1%;
    background-color: rgba(223, 217, 217, 0.301);
    /* border: 2px solid grey; */
    padding: 20px;
}

/* .button-row{
    display: table;
} */
.button-row .del{
    background-color: red;
    color: white;
}

.calculator-buttons button{
    margin:12px 6px;
    /* padding: 20px; */
    border: none;
    font-size: 15px;
    height: 50px;
    width: 20%;
    display: table-cell;
}