*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: underline;
}

.calculator{
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 8px 50px -7px grey;
    margin: auto;
    width: 300px;
}

#screen{
    border: none;
    width: 100%;
    background-color: rgba(223, 217, 217, 0.301);
    padding: 20px;
}

.button-row .del{
    background-color: red;
    color: white;
}

.button-row .del:hover{
    background-color: black;
}

.calculator-buttons button{
    margin:12px 6px;
    padding: 20px;
    border: none;
    width: 20%;
}

.calculator-buttons button:hover{
    background-color: red;
}

#onandoff{
    padding-left: 5px;
   background: black;
   color: white;
}

#onandoff:hover{
    background-color: red;
}


